#EndGameInput{
  @include createBox(100%, 100%);
  @include flexCenter();
  top: 0px;
  position: absolute;
  z-index:1;
  background-color: rgba(43, 43, 43, 0.637);

  #endGameBox{
    display: flex;
    flex-direction: column;
    input{
      margin-bottom: 1rem;
    }
    button{
      width: 70px;
      &:nth-child(1){
        margin-right: 10px;
      }
    }
  }
}