#EndGameInput{
  @include createBox(100%, 100%);
  @include flexCenter();
  top: 0px;
  position: absolute;
  z-index:1;
  background-color: rgba(43, 43, 43, 0.637);
  #endGameBox{
    input{
      margin-bottom: 1rem;
    }
    button{
      width: 70px;
    }
    display: flex;
    flex-direction: column;
  }
}