@import './SmashButton';

#gameMain-grid{
  border:5px solid green;
  margin: 0 auto;
  display: grid;
  width: fit-content;
  .cardComponent{
    margin: 15px;
    border:2px solid whitesmoke;
    border-radius: 10px;
    animation-delay: 0.3s;
  };
  .backCard{
    background-color:rgb(8, 8, 82);
  }
  .frontCard{
    @include flexCenter();
    font-size: 7rem;
    background-color:rgb(121, 121, 121);
  };
};