@import './SmashButton';

#gameMain-flexBox{
  margin: 20px auto;
  @include flexCenter();
  @include createBox(83%, 80%);
  .cardComponent{
    height: 70%;
    width: 20%; 
    margin-left: 15px;
    border:5px solid whitesmoke;
    border-radius: 10px;
    animation-delay: 0.3s;
  };
  .backCard{
    background-color:rgb(8, 8, 82);
  }
  .frontCard{
    @include flexCenter();
    font-size: 7rem;
    background-color:rgb(121, 121, 121);
  };
};