@font-face {
  font-family: 'erikut';
  src: url("../common/fonts/Erikut_PersonalUseOnly.ttf");
}

@font-face {
  font-family: 'vogue';
  src: url("../common/fonts/Vogue.ttf");
}

#menu {
  height: 11vh;
  width: 95vw;
  margin: 0.5vw auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#menu .menuButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4vw;
  width: 12vw;
  border: 1px solid #9f7015;
  border-radius: 10px;
}

#menu .menuButtons:hover {
  cursor: pointer;
}

#homePage {
  margin: 10px auto;
  height: 85vh;
  width: 95vw;
}

#homePage #SmashBarBox {
  height: 2vw;
  width: 48vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

#homePage #SmashBarBox #SmashBar {
  height: 1vw;
  width: 80%;
  border: 1px solid rgba(0, 0, 0, 0.411);
  border-radius: 5px;
}

#homePage #SmashBarBox #SmashBar #SmashBarPoints {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1vw;
  width: 0%;
  background-color: #050504;
}

#homePage #SmashBarBox #SmashBar #SmashBarPoints img {
  height: inherit;
  width: 100%;
}

#homePage #SmashBarBox #SmashButton {
  height: 2.5vw;
  width: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  color: whitesmoke;
  border-radius: 5px;
  cursor: pointer;
}

#homePage #mainGameContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#homePage #mainGameContainer #timer {
  margin: 0 auto;
  font-size: 2.5vw;
}

#homePage #gameMain-grid {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#homePage #gameMain-grid .cardComponent {
  margin: 15px;
  border: 2px solid whitesmoke;
  border-radius: 15px;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

#homePage #gameMain-grid .backCard {
  border: 2px solid #9f7015;
  background-size: cover;
  cursor: pointer;
}

#homePage #gameMain-grid .frontCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 7rem;
  background-color: black;
  color: whitesmoke;
}

#homePage #gameMain-grid .frontCard span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid goldenrod;
  height: 100%;
}

#startButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 25vw;
  width: 17vw;
  margin: 7vw auto;
  background-color: black;
  border: 2px solid #9f7015;
  border-radius: 1vw;
  color: #9f7015;
  font-size: 3vw;
  text-align: center;
  cursor: pointer;
}

.player-FlexBox {
  height: 20%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid orange;
}

.player-FlexBox .playerBoxConfig {
  height: 80%;
  width: 200px;
  margin: 10px;
  border: 1px solid green;
}

.player-FlexBox .playerNameAndDate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.player-FlexBox .playerScore {
  height: 80%;
  width: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#RankingPage {
  height: 85vh;
  width: 95vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

#RankingPage #RankingList-grid {
  height: 83%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#EndGameInput {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0px;
  position: absolute;
  z-index: 1;
  background-color: rgba(43, 43, 43, 0.637);
}

#EndGameInput #endGameBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 10vw;
  background-color: black;
}

#EndGameInput #endGameBox #endGameTitle {
  color: whitesmoke;
  margin-bottom: 1vw;
}

#EndGameInput #endGameBox input {
  width: 10vw;
  margin-bottom: 1rem;
}

#EndGameInput #endGameBox #endGameButtonsBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15vw;
}

#EndGameInput #endGameBox #endGameButtonsBox span {
  display: block;
  width: 4.5vw;
  border: 1px solid #9f7015;
  margin: 0.2vw;
  color: whitesmoke;
  border-radius: 5px;
  text-align: center;
  padding: 3px;
}

#EndGameInput #endGameBox #endGameButtonsBox span:hover {
  cursor: pointer;
}

body {
  color: black;
  background-color: whitesmoke;
  margin: 0;
  font-family: 'vogue';
  font-size: 1.2vw;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
/*# sourceMappingURL=main.css.map */