#menu {
  height: 11vh;
  width: 95vw;
  margin: 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#menu .menuButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 65px;
  width: 200px;
  border: 1px solid goldenrod;
  border-radius: 10px;
}

#menu .menuButtons:hover {
  cursor: pointer;
}

#homePage {
  margin: 10px auto;
  height: 85vh;
  width: 95vw;
}

#homePage #SmashBarBox {
  height: 5%;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid red;
  margin: 0 auto;
}

#homePage #SmashBarBox #SmashBar {
  height: 30px;
  width: 80%;
  border: 1px solid yellow;
}

#homePage #SmashBarBox #SmashBar #SmashBarPoints {
  height: 30px;
  width: 0%;
  background-color: brown;
}

#homePage #SmashBarBox #SmashButton {
  height: 40px;
  width: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: burlywood;
  color: black;
  border-radius: 15px;
}

#homePage #gameMain-grid {
  border: 5px solid green;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#homePage #gameMain-grid .cardComponent {
  margin: 15px;
  border: 2px solid whitesmoke;
  border-radius: 10px;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

#homePage #gameMain-grid .backCard {
  background-color: #080852;
}

#homePage #gameMain-grid .frontCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 7rem;
  background-color: #797979;
}

#startButton {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50%;
  width: 15%;
  background-color: #350404;
}

#RankingPage {
  margin: 0 auto;
  height: 85vh;
  width: 95vw;
}

#RankingPage #RankingList {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 83%;
  width: 80%;
}

#EndGameInput {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0px;
  position: absolute;
  z-index: 1;
  background-color: rgba(43, 43, 43, 0.637);
}

#EndGameInput #endGameBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#EndGameInput #endGameBox input {
  margin-bottom: 1rem;
}

#EndGameInput #endGameBox button {
  width: 70px;
}

#EndGameInput #endGameBox button:nth-child(1) {
  margin-right: 10px;
}

.testBox {
  border: 1px solid red;
}

.testBox2 {
  border: 1px solid green;
}

body {
  color: white;
  background-color: black;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
/*# sourceMappingURL=main.css.map */