@import './playerBox';
#RankingPage{
  @include createBox(85vh, $mainBoxWidth);
  @include flexCenter();
  margin:0 auto;
  #RankingList-grid{
    @include createBox(83%, fit-content);
    display: flex;
    flex-direction: column;
  }
}