$mainBoxWidth:95vw;

@mixin createBox($h, $w){
  height: $h;
  width: $w;
}
@mixin flexCenter{
  display: flex;
  justify-content: center;
  align-items: center
}
$maincolor: #9f7015;

@font-face {
  font-family: 'erikut';
  src: url('../common/fonts/Erikut_PersonalUseOnly.ttf');
}
@font-face {
  font-family: 'vogue';
  src: url('../common/fonts/Vogue.ttf');
}

@import './menuCSS/menu';
@import './homeCSS/homePage';
@import './homeCSS/startButton';
@import './rankingCSS/rankingMainCSS';
@import './gameCSS/endGameInput';

//Basic Global Settings 
body {
  color:rgb(0, 0, 0);
  background-color:whitesmoke;
  margin: 0;
  font-family:'vogue';
  font-size: 1.2vw;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

