#startButton{
  @include flexCenter();
  @include createBox(25vw, 17vw);;
  margin: 7vw auto;
  background-color: black;
  border-radius: 1vw;
  color:$maincolor;
  font-size: 3vw;
  text-align: center;
  cursor: pointer;
};